# User-specific stuff:
.idea/

# Gradle
build/
.gradle/

## File-based project format:
*.iws

# IntelliJ
out/

# SendGrid API Key
sendgrid.env

# When Bash on Windows fails
bash.exe.stackdump

# User-specific and sensitive database information
db.properties